header {
  nav {
    width: 100%;
    padding: 1.875rem 1rem;
    // background: #3c37f1;
    height: 85px;
    z-index: 99;
    background-image: linear-gradient(90deg, #014bec 0%, #02f1ee 100%);
  }

  .container {
  }

  .nav-link.active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  ul {
    li {
      a {
        color: white;
      }
    }
  }
}

.activee {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-banner {
  padding: 4.2rem 0 14rem 0;
}

.banner {
  text-align: center;

  h3,
  h2 {
    color: white;
    // font-family: "Rubik", sans-serif;
  }

  h5,
  h6 {
    font-size: 1.125rem;
  }

  .f-22 {
    font-size: 22px;
    line-height: 32px;
    color: black;
  }

  .color-heading {
    color: black;
  }

  p {
    color: black;
    font-family: "Rubik", sans-serif;
  }
}

.mybtn {
  background-color: #1998ff;
}

.displayAddress {
  color: white;
}

.header-logo {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
  background-image: url("https://kottke.org/plus/misc/images/history-pixel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 30%;
}

.header-logo-text {
  font-size: 2rem;
  margin-bottom: 0px;
  margin-left: 5px;
}
